<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Details</title>
</head>
<body>
    <h1>Car Details</h1>
    <table border="1">
        <thead>
            <tr>
                <th>VIN</th>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>Mileage</th>
                <th>Condition</th>
            </tr>
        </thead>
        <tbody>
            {% for d in car_details %}
            <tr>
                <td>{{d.VIN}}</td>
                <td>{{d.Make}}</td>
                <td>{{d.Model}}</td>
                <td>{{d.Year}}</td>
                <td>{{d.Mileage}}</td>
                <td>{{d.Condition}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
