<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buyer Details</title>
</head>
<body>
    <h1>Buyer Details</h1>
    <table border="1">
        <thead>
            <tr>
                <th>BuyerID</th>
                <th>BuyCarNum</th>
                <th>BidNum</th>
            </tr>
        </thead>
        <tbody>
            {% for d in buyers_details %}
            <tr>
                <td>{{d.BuyerID}}</td>
                <td>{{d.BuyCarNum}}</td>
                <td>{{d.BidNum}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
