<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Details</title>
</head>
<body>
    <h1>Review Details</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Rating</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            {% for d in review_details %}
            <tr>
                <td>{{d.Rating}}</td>
                <td>{{d.Comment}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
